[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-rest-api = "*"
django-allauth = "*"
django-cors-headers = "*"
pusher = "*"

[requires]
python_version = "3.7.4"
